
.page-1{
    overflow-y: hidden;
    height: calc(100vh - 24px);
    width: 100vw;
    display: flex;
    padding: 3rem 4rem;
}

.heading{
    width: 50%;
    font-size:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img{
    width: 50%;
}